<div class="col-md-8 offset-2 mt-6 card" style="background:rgb(247, 243, 243)">
    <div class="card-body">
    <form #createBus="ngForm" (ngSubmit)="addBus(createBus)">
        <h1 class="h1 text-center">Add Bus </h1>
        <div class="form-group">
            <label for="busId" class="text-success">busId</label>
            <input type="number" #busId="ngModel" ngModel name="busId" id="busId" class="form-control" required
                placeholder="Enter Bus id">
            <div *ngIf="busId.touched && busId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="busName" class="text-success">Name</label>
            <input type="text" #busName="ngModel" ngModel name="busName" id="destination" class="form-control" required
                placeholder="Enter Bus Name">
            <div *ngIf="busName.touched && busName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            
            <label for="startingPoint" class="text-success"> <b>from</b></label>
            <select #startingPoint="ngModel" ngModel name="startingPoint"  id="startingPoint" class="form-control" required >
                <option [ngValue]="null" disabled>Enter starting Point</option>
                <option *ngFor="let country of travels" >{{country}}</option>
                    
            </select>
            <div *ngIf="startingPoint.touched && startingPoint.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            
            <label for="endingPoint" class="text-success"> <b>to</b></label>
            <select #endingPoint="ngModel" ngModel name="endingPoint" id="endingPoint"
                class="form-control" required >
                <option [ngValue]="null" disabled>Enter Ending Point</option>
                <option *ngFor="let country of travels">{{country}}</option>
            </select>
            <div *ngIf="endingPoint.touched && endingPoint.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="totalSeats" class="text-success">Totalseats
                </label>
            <input type="number" #totalSeats="ngModel" ngModel name="totalSeats" id="totalSeats" class="form-control"
                required placeholder="Enter Total Seats">
            <div *ngIf="totalSeats.touched && totalSeats.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="cost" class="text-success">PRICE</label>
            <input type="number" #cost="ngModel" ngModel name="cost" id="cost" class="form-control" required
                placeholder="Enter Ticket Price">
            <div *ngIf="cost.touched && cost.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="busType" class="text-success">busType</label>
            <input type="text" #busType="ngModel" ngModel name="busType" id="busType" class="form-control" required
                placeholder="Enter Bus Type">
            <div *ngIf="busType.touched && busType.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>



        <button type="submit" class="btn btn-primary float-right" [disabled]="createBus.invalid">Add Bus </button>


    </form>
    </div>
</div>